@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* base styles */
* {
  font-family: "Playfair Display", serif;
}

body {
  margin: 0;
  line-height: 1.4em;
}

header {
  display: flex;
  justify-content: center;
  background: #203444;
  color: #e2e0e0;
  text-transform: uppercase;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.center {
  text-align: center;
}

ul {
  list-style: none;
  margin-left: 0;
}

ul li {
  margin-left: 0;
}

.flex-item {
  margin: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

input,
select,
textarea {
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  border: none;
}

input,
select {
  line-height: 2.5em;
}

.submit {
  color: white;
  background-color: rgb(79, 175, 175);
  font-size: 40px;
}

fieldset {
  border: 0;
}

legend {
  font-weight: bold;
}

footer {
  text-align: center;
}

hr.1st-line {
  border-top: 5px solid black;
  border-bottom: 2px solid black;
  padding: 5px;
  width: 95%;
  justify-content: center;
}

hr.3rd-line {
  border-top: 3px solid #bbb;
}

.zipcode {
  width: 50%;
}

@media (min-width: 768px) {
  fieldset {
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: flex;
    max-width: 700px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

  .flex-item {
    display: flex;
    flex-direction: row;
  }

  label {
    align-self: flex-start;
  }

  input,
  select {
    align-self: flex-end;
    width: 100%;
  }
}
