@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* base styles */
* {
  font-family: "Playfair Display", serif;
}

body {
  margin: 0;
  line-height: 1.4em;
}
form {
}

header {
  display: flex;
  justify-content: center;
  background: #51618d;
  color: #e2e0e0;
  text-transform: uppercase;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 0;
}

.center {
  text-align: center;
}

ul {
  list-style: none;
  margin-left: 0;
}

ul li {
  padding: 5px 0;
}

.flex-item {
  margin: auto;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
}

input,
select,
textarea {
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  border: none;
}

input,
select {
  line-height: 3em;
}

.submit {
  color: white;
  background-color: rgb(66, 187, 177);
  font-size: 40px;
}

legend {
  font-weight: bold;
}

footer {
  text-align: center;
  font-style: oblique;
  color: gray;
  padding-bottom: 100px;
}

.first-line {
  height: 5px;
  margin: 20px auto 0;
  border-top: 4px solid #3a4e66;
  width: 93%;
}

.second-line {
  height: 10px;
  margin: 2px auto 0;
  border-top: 2px solid #3a4e66;
  width: 93%;
}

.third-line {
  height: 10px;
  margin: 2px auto 0;
  border-top: 2px solid #3a4e66;
}

.label {
  padding-bottom: 5px;
  display: inline-block;
}

.zipcode {
  width: 50%;
}

ul {
  padding: 0;
}

.align {
  height: 45px;
}

textarea {
  height: 115px;
}

h2 {
}

/* ----- psuedo styles -----*/
input:focus,
select:focus,
textarea:focus {
  background-color: rgb(196, 221, 245);
}

input:hover,
select:hover,
textarea:hover {
  background-color: rgb(190, 226, 228);
}

input:active,
select:active,
textarea:active {
  background-color: rgb(255, 203, 203);
}

.submit:hover {
  background-color: rgb(223, 118, 118);
}

.submit:active {
  background-color: rgba(172, 163, 172, 0.836);
}

::placeholder {
  color: rgb(94, 93, 93);
  font-size: 70%;
  text-align: right;
  font-style: oblique;

  padding-right: 10px;
  letter-spacing: 1.1px;
}

/*----- media queries ------*/
@media (min-width: 768px) {
  fieldset {
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: flex;
    max-width: 700px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

  .flex-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .label {
    align-self: flex-start;
  }

  .align {
    margin-right: 0;
    width: 100%;
    max-width: 500px;
  }

  .bottom-div {
    display: flex;
    flex-direction: column;
  }

  .first-line {
    width: 90%;
    max-width: 700px;
  }

  .second-line {
    width: 90%;
    max-width: 700px;
  }
}
