@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* base styles */
* {
  font-family: "Playfair Display", serif;
}

body {
  margin: 0;
  line-height: 1.4em;
}

header {
  display: flex;
  justify-content: center;
  background: #203444;
  color: #e2e0e0;
  text-transform: uppercase;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.center {
  text-align: center;
}

ul {
  list-style: none;
  margin-left: 0;
}

ul li {
  padding: 5px 0;
}

.flex-item {
  margin: auto;
  padding: 10px 5px;

  display: flex;
  flex-direction: column;
}

input,
select,
textarea {
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  border: none;
}

input,
select {
  line-height: 3em;
}

.submit {
  color: white;
  background-color: rgb(207, 137, 235);
  font-size: 40px;
}

fieldset {
  border: 0;
}

legend {
  font-weight: bold;
}

footer {
  text-align: center;
}

.top_line {
  border-top: 5px solid black;
  border-bottom: 2px solid black;
  padding: 5px;
  width: 95%;
  justify-content: center;
}

.bottom_line {
  border-top: 3px solid #bbb;
}

.label {
  padding-bottom: 5px;
  display: inline-block;
  wrap: none;
}

.zipcode {
  width: 50%;
}

ul {
  padding: 0;
}

/* ----- psuedo styles -----*/
input:focus,
select:focus,
textarea:focus {
  background-color: rgb(247, 255, 139);
}

input:hover,
select:hover,
textarea:hover {
  background-color: rgb(154, 205, 230);
}

input:active,
select:active,
textarea:active {
  background-color: rgb(214, 166, 202);
}

.submit:hover {
  background-color: rgb(194, 52, 230);
}

.submit:active {
  background-color: rgba(172, 163, 172, 0.836);
}

/*----- media queries ------*/
@media (min-width: 768px) {
  fieldset {
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: flex;
    max-width: 700px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

  .flex-item {
    display: flex;
    flex-direction: row;
  }

  .label {
    align-self: flex-start;
  }

  .align {
    margin-right: 0;
    width: 100%;
  }

  .bottom-div {
    display: flex;
    flex-direction: column;
  }
}
